/dts-v1/;
/plugin/;

&{/}{

    motor: yc_motor{
        compatible = "yc,motor";
        #pwm-cells = <2>;
        motor-pwm = <1 0 2000>,
                    <2 0 2000>;
        status = "okay";
    };

    sw18015: yc_sw18015{
        compatible = "yc,sw18015";
        AO-gpio = <74>;
    };
};

&uart5{
    status = "disabled";
};

&i2c3{
    #address-cells = <1>;
    #size-cells = <0>;
    status = "okay";
    aht10@38 {
        compatible = "aht10";
        reg = <0x38>;
        status = "disabled";
    };
    vl6180@29 {
        compatible = "st,vl6180";
        reg = <0x29>;
        status = "disabled";
    };
    vl61802@59 {
        compatible = "st,vl6180";
        reg = <0x59>;
        status = "disabled";
    };
};